# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sensitive data and Local config
.env
.env.*
*.db
*.db-journal
*.sqlite

# Test outputs and logs
log.html
report.html
output.xml
selenium-screenshot-*.png
debug_*.png
debug_*.txt


